<div class="panel panel-default">
    <div class="panel-heading">User Details</div>
    <div class="panel-body">
        <div>
            <h4>User Name :  <input type="text" class="form-control" ng-model="username"></h4>
            <h4>Email :  <input type="text" class="form-control" ng-model="email"></h4>
            <h4>Date Of Birth :  {{dob}}</h4>
            <div>
                <button class="btn btn-primary" ng-click="edit()"></button>
            </div>
        </div>
    </div>
</div>
