<form class="form-horizontal" ng-controller='loginCtrl'>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">Email</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model='login.username'>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="control-label col-xs-2">Password</label>
        <div class="col-xs-4">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-4">
            <button type="submit" class="btn btn-primary" ng-click="loginUser()">Login</button>
        </div>
        <div ng-show='showError'>Invalid Credentials</div>
    </div>
</form>
